@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Emilys+Candy&family=Oswald&family=Source+Sans+Pro&display=swap');

.background {
  min-height: 100vh;
  width: 100%;
  background-color: #000;
  background-image: url(https://i.pinimg.com/originals/ef/e4/91/efe4911c1514bd6da486c87cab240f60.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  border: none;
  padding: 0;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  background: hsl(253, 98%, 77%);
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
}

.top {
  display: block;
  padding: 15px 45px;
  border-radius: 15px;
  font-size: 2rem;
  background: hsl(278deg 980% 77%);
  color: white;
  transform: translateY(-8px);
}

.button:active .top {
  transform: translateY(-2px);
}
